<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.store.persistence.CustomerRepository">

    <resultMap id="CustomerResultMap" type="com.solvd.store.domain.Customer" autoMapping="false">
        <id property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="mail" column="mail"/>
    </resultMap>


    <insert id="createCustomer" keyColumn="id" keyProperty="customer.id" useGeneratedKeys="true">
        INSERT INTO customers (first_name, last_name, phone_number, mail, companies_id)
        VALUES (#{customer.firstName}, #{customer.lastName}, #{customer.phoneNumber}, #{customer.mail}, #{companiesId})
    </insert>

    <delete id="removeCustomer">
        DELETE from customers where id = #{customerId}
    </delete>

    <select id="getCustomerById" resultMap="CustomerResultMap">
        SELECT id, first_name, last_name, phone_number, mail, companies_id FROM customers WHERE id = #{customerId}
    </select>

    <select id="getAllCustomers" resultMap="CustomerResultMap">
        SELECT * FROM customers
    </select>

</mapper>